*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(boock3.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}
.main{
    margin: 0 auto ;
    height: 100%;
    width: 900px;
    background-color: rgb(233, 199, 127);
    
    
}
h1{
    padding: 50px 50px 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    padding: 0px 50px;
}
.second{
    width: 990px;
    height: 100%;

}
.content{
    width: 700px;
    height: 300px;
    padding: 0px 50px;
}
a{
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
li{
    list-style-type: none;
}
.heading{
    width: 500px;
    height: 100%; 

}

.text{
    width: 20px;
    height: 100%;
    border: 1px solid black;
    position: relative;
    left: 500px;
    top: -40px;
    border-radius: 20px;
    font-size: 10px;
    
    
}
.first{
    width: 800px;
    height: 100%;
}
a:hover{
    color: orangered;
}
.text:hover{
    
}
.btn-outline-dark{
     position: relative;
    left: 500px;
    top: -40px;
    border-radius: -10px;
    
}
